@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    font-family: 'Share Tech Mono', 'Segoe UI';
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-image: url(images/tijolos.jpg);
}

header {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    overflow: hidden;
}

.introduction {
    margin: 10% 10% 0 10%;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
    animation: zoom 25s;
    background-color: rgba(0, 0, 0, .6);
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.7);
}

@keyframes zoom {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/*.introduction:nth-child(1) .texts {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}*/

.frame {
    display: flex;
    justify-content: center;
}

.image {
    width: 80%;
    margin: 5%;
    height: 80%;
    box-shadow: .5em .5em .3em rgba(0, 0, 0, 0.7);
    background-image: url(images/image-01.jpg);
    background-size: cover;
    background-position: center top;
}

.texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner h1 {
    text-shadow: 0.1em 0.1em 1px rgba(0, 0, 0, .8);
    opacity: 0;
    color: white;
}

.first-text {
    margin-bottom: 1em;
    margin-left: 10%;
    font-size: clamp(1.75em, 1em + 3vw, 3em);
    font-weight: normal;
    animation: moveBanner 2s 0.1s forwards;
}

.second-text {
    margin-left: 10%;
    font-size: clamp(1.75em, 4em + 3vw, 7em);
    animation: moveBanner 2s 0.3s forwards;
}

.third-text {
    margin-top: 1em;
    margin-left: 10%;
    font-size: clamp(1.75em, 1em + 3vw, 3em);
    font-weight: normal;
    animation: moveBanner 2s 0.9s forwards;
}

@keyframes moveBanner {
    0% {
        transform: translateY(15em);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.top-bar {
    width: 100vw;
    height: clamp(1.1em, 2.1em + 3vw, 5.1em);
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, .6);
    box-shadow: 0.3em 0.3em 2px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 5;
}

.menu-button {
    display: none;
    cursor: pointer;
    background: none;
    color: none;
    border: none;
    z-index: 15;
}

.menu-icon i {
    font-size: clamp(1.5em, 2em + 1vw, 3em);
    color: white;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(.5em, .5em + 1vw, 2em);
}

.menu-link {
    vertical-align: middle;
    text-shadow: 0.1em 0.1em 1px rgba(0, 0, 0, .8);
    color: white;
    padding: .5em;
    font-size: clamp(.5em, 1em + 1vw, 3em);
}

.menu-link:hover {
    background-color: black;
    color: white;
    transition: color .5s;
}

.social-media {
    display: flex;
    justify-content: space-evenly;
    gap: clamp(.5em, .5em + 1vw, 2em);
}

.social-media i {
    font-size: clamp(1em, 2em + 3vw, 5em);
    margin: 0;
    padding: 0;
    color: white;
    opacity: 0.8;
}

.social-media a:nth-child(1) i:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(1.2em, 2.2em + 3vw, 5.2em);
    opacity: 1;
}

.social-media a:nth-child(2) i:hover {
    color: #7f61ac;
    font-size: clamp(1.2em, 2.2em + 3vw, 5.2em);
    opacity: 1;
}

.about {
    display: flex;
    flex-direction: column;
    border-radius: 5em;
}

.about-header {
    height: 20vh;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    margin: 5% 10% 5% 10%;
    border-bottom: solid 5px white;
    border-radius: 5px;
    text-shadow: 0.4em 0.4em 1px rgba(0, 0, 0, .8);
}

.about-header h1 {
    font-size: clamp(1.75em, 4em + 3vw, 7em);
    text-align: center;
    color: white;
}

.about-text {
    text-align: justify;
    text-indent: 2em;
    margin: 0 15% 3% 15%;
    padding: 1em;
    font-size: clamp(1em, 1em + 1vw, 1.5em);
    color: whitesmoke;
    text-decoration: none;
    opacity: 0;
    animation: textTransition 2s forwards;
    text-shadow: 0.1em 0.1em 1px rgba(0, 0, 0, .8);
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 15px;
}

@keyframes textTransition {
    0% {
        transform: translateX(15em);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.about-text a {
    margin-top: 1em;
    text-align: center;
    text-indent: 0;
    text-decoration: none;
    color: white;
    transition: all .5s;
    align-self: center;
}

.about-text a:hover {
    text-transform: uppercase;
    font-size: 1.6em;
    color: white;
    background-color: tomato;
    padding: .1em;
    border-radius: 1em;
}

.conhecimentos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50vh);
    gap: 5em;
    margin-left: 15%;
    margin-right: 15%;
}

.card {
    background-color: rgba(0, 0, 0, .6);
    overflow: hidden;
    border-radius: 16px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
}

.card#first:hover {
    background-image: linear-gradient(#f1eef4, #a5a5a5);
}

.card#second:hover {
    background-image: linear-gradient(rgb(255, 254, 203), rgb(255, 235, 53));
}

.card#third:hover {
    color: white;
    background-image: linear-gradient(rgb(53, 124, 255), #264de4);
}

.card#fourth:hover {
    color: white;
    background-image: linear-gradient(#8c3dff, #a264ff);
}

.card#third .arrow,
.card#fourth .arrow {
    color: white;
}

.card .img {
    background-position: center bottom;
    background-size: cover;
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .8;
    transition: all .5s;
}

.card .img#sobre {
    background-image: url(images/card-java.jpg);
}

.card .img#js {
    background-image: url(images/card-js.jpg);
}

.card .img#css {
    background-image: url(images/card-css.jpg);
}

.card .img#github {
    background-image: url(images/card-git.jpg);
}

.card:hover .img {
    opacity: 1;
    width: 110%;
}

.card .content {
    padding: 0 20px;
    overflow: hidden;
    height: 0;
    transition: all .5s;
    transform: translateY(2em);
    opacity: 0;
}

.card:hover .content {
    padding: 15px 20px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: translateY(0);
    opacity: 1;
}

::-webkit-scrollbar {
    background-color: #1d1d1d;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #cacaca;
    border-radius: 5px;
}

.card .content .title {
    font-size: 2em;
}

.card .content .desc {
    padding-top: 10px;
}

.card .arrow {
    color: white;
    padding: 10px;
    font-size: 1.5em;
    transition: all .5s;
    transform: rotate(-180deg);
}

.card:hover .arrow {
    color: black;
    transform: rotate(0);
}

.top-bar.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .4);
    text-align: center;
    height: 100vh;
    width: 100%;
    z-index: 10;
    overflow: hidden;
}

.top-bar.active .social-media {
    display: block;
}

.topp-bar.active .social-media i {
    color: black;
}

.top-bar.active .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-bar.active .menu .menu-item {
    margin-top: 1em;
}

.top-bar.active .menu-button i {
    color: black;
}

@media (max-width: 700px) {
    .menu {
        display: none;
    }

    .social-media {
        display: none;
    }

    .top-bar {
        position: fixed;
        top: 0;
        height: 5vh;
    }

    .menu-button {
        display: block;
        position: absolute;
        right: 1em;
        top: .5em;
    }

    .introduction {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 50%);
    }

    .frame div {
        margin: 0;
        width: 90%;
    }

}

@media (max-width: 1000px) {
    .conhecimentos {
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, .5fr);
        grid-template-rows: repeat(2, 30vh);
        gap: 3em;
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (max-width: 800px) {
    .conhecimentos {
        display: flex;
        flex-direction: column;
        /*grid-template-columns: repeat(1, .6fr);
        grid-template-rows: repeat(4, 30vh);
        gap: 3em;*/
        margin-left: 15%;
        margin-right: 15%;
    }

    .conhecimentos .card {
        height: 40vh;
    }
}