@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    font-family: 'Share Tech Mono', Arial;
    list-style: none;
    text-decoration: none;
}

body {
    background: linear-gradient(45deg, #F0EBE3, #E4DCCF, #7D9D9C, #576F72);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.logo {
    width: 3em;
    height: 3em;
    position: fixed;
    z-index: 10000;
    right: 2em;
    top: 2em;
}

.logo i {
    font-size: 3em;
    color: black;
}

.line {
    width: 100%;
    background-color: white;
    height: 0.3em;
    box-shadow: 0.1em 0.1em 1px rgba(0, 0, 0, 0.4);
}

header {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
}

.img-wrapper {
    position: relative;
    height: 100vh;
    background: url(images/image-01.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: zoom 25s;
}

.img-wrapper::before {
    position: absolute;
    content: " ";
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

@keyframes zoom {
    0% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.banner {
    color: white;
}

.banner h1 {
    text-shadow: 0.1em 0.1em 1px rgba(0, 0, 0, 0.4);
    opacity: 0;
}

.first-text {
    margin-bottom: 1em;
    margin-left: 10%;
    font-size: 2em;
    font-weight: normal;
    animation: moveBanner 2s 0.1s forwards;
}

.second-text {
    margin-left: 10%;
    font-size: 6em;
    animation: moveBanner 2s 0.3s forwards;
}

.third-text {
    margin-top: 1em;
    margin-left: 10%;
    font-size: 2em;
    font-weight: normal;
    animation: moveBanner 2s 0.9s forwards;
}

@keyframes moveBanner {
    0% {
        transform: translateY(15em);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.side-bar {
    width: 20vw;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    display: none;
    background-color: rgb(168, 168, 168);
}

.side-bar.show {
    display: block;
    z-index: 1000;
}

.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item {
    text-align: center;
    margin-bottom: 2em;
}

.menu-link {
    vertical-align: middle;
    color: black;
    padding: 10px;
    font-size: 2em;
}

.menu-link:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    transition: color .5s;
}

.social-media {
    position: absolute;
    bottom: 10%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i {
    font-size: 5em;
    margin: 0;
    padding: 0;
    color: black;
    opacity: 0.8;
}

.social-media a:nth-child(1) i:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5.1em;
    opacity: 1;
}

.social-media a:nth-child(2) i:hover {
    color: #7f61ac;
    font-size: 5.1em;
    opacity: 1;
}

.sessao-sobre {
    display: flex;
    flex-direction: column;
}

.sobre-header {
    height: 15vh;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    margin: 5% 10% 10% 10%;
    border-bottom: solid 5px white;
    border-radius: 5px;
}

.sobre-header h1 {
    font-size: 6em;
    color: white;
    text-shadow: 0.1em 0.1em 1px rgba(0, 0, 0, 0.4);
}

.conhecimentos {
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 70%);
    gap: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.card {
    background-image: linear-gradient(#333, #333);
    overflow: hidden;
    border-radius: 16px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
}

.card#first:hover {
    background-image: linear-gradient(#fcc74c, #fda632);
}

.card#second:hover {
    background-image: linear-gradient(rgb(255, 254, 203), rgb(255, 235, 53));
}

.card#third:hover {
    color: white;
    background-image: linear-gradient(rgb(53, 124, 255), #264de4);
}

.card#fourth:hover {
    color: white;
    background-image: linear-gradient(#8c3dff, #a264ff);
}

.card#third .arrow, .card#fourth .arrow {
    color: white;
}

.card .img {
    background-position: center bottom;
    background-size: cover;
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .8;
    transition: all .5s;
}

.card .img#sobre {
    background-image: url(images/card-book.jpg);
}
.card .img#js {
    background-image: url(images/card-js.jpg);
}

.card .img#css {
    background-image: url(images/card-css.jpg);
}

.card .img#github {
    background-image: url(images/card-git.jpg);
}

.card:hover .img {
    opacity: 1;
    width: 110%;
} 

.card .content {
    padding: 0 20px;
    overflow: hidden;
    height: 0;
    transition: all .5s;
    transform: translateY(2em);
    opacity: 0;
}

.card:hover .content {
    padding: 15px 20px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: translateY(0);
    opacity: 1;
}

::-webkit-scrollbar {
    background-color: #1d1d1d;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #cacaca;
    border-radius: 5px;
}

.card .content .title {
    font-size: 2em;
}

.card .content .desc {
    padding-top: 10px;
}

.card .arrow {
    color: white;
    padding: 10px;
    font-size: 1.5em;
    transition: all .5s;
    transform: rotate(-180deg);
}

.card:hover .arrow {
    color: black;
    transform: rotate(0);
}