.projects {
    max-height: 100vh;
}

.slides {
    height: 90vh;
    margin-right: 15%;
    margin-left: 15%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 80vh) repeat(1, 12vh);
    justify-items: center;
    align-items: center;
}

.card-project {
    border: solid 1em white;
    border-radius: 1em;
    background-color: white;
    width: 600px;
    height: 700px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 5px 5px 8px 3px rgba(0, 0, 0, 0.7);
}

.card-content {
    padding: 1.5em;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.card-body {
    text-align: justify;
}

.card-img {
    max-height: 100%;
    width: 100%;
    height: auto;
    padding-bottom: 1em;
    border-bottom: solid 5px #1d1d1d;
}

.button {
    padding: .8em;
    border-radius: 1em;
    color: white;
    font-size: 1.2em;
    transition: all .2s;
    background-color: rgb(58, 58, 58);
}

.button:hover {
    background-color: rgb(19, 19, 19);
}

.selected {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.navigation {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection {
    width: 70px;
    height: 20px;
    margin: 1em;
    border: solid 2px #fff;
    cursor: pointer;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0);
}

.selection.active {
    background-color: white;
}

.selection:hover {
    background-color: rgba(255, 255, 255, .4);
}

.selection.active:hover {
    background-color: white;
}

.inactive {
    display: none;
}

@media (max-height: 700px) {
    .slides {
        height: 92vh;
        grid-template-rows: repeat(1, 80vh) repeat(1, 12vh);
    }
    .card-project {
        align-self: flex-start;
        height: 80vh;
    }
}

@media (max-width: 400px) {
    .slides {
        height: 105vh;
        grid-template-rows: repeat(1, 80vh) repeat(1, 20vh);
    }
    .card-project {
        margin-top: 5vh;
        align-self: flex-start;
        height: 80vh;
    }
}

@media (max-width: 900px) {
    .slides {
        grid-template-columns: repeat(1, 70vw);
    }
    .card-project {
        width: 100%;
        text-align: center;
    }
    .card-content {
        padding: .5em;
    }
    .selection {
        width: 40px;
    }
    .card-body {
        text-align: center;
    }
}