.about {
    display: flex;
    flex-direction: column;
    border-radius: 5em;
}

.about-text {
    text-align: justify;
    text-indent: 2em;
    margin: 0 15% 3% 15%;
    padding: 1em;
    font-size: clamp(1em, 1em + 1vw, 1.5em);
    color: whitesmoke;
    text-decoration: none;
    opacity: 0;
    animation: textTransition 2s forwards;
    text-shadow: 0.1em 0.1em 1px rgba(0, 0, 0, .8);
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 15px;
    box-shadow: 5px 5px 8px 3px rgba(0, 0, 0, 0.7);
}

@keyframes textTransition {
    0% {
        transform: translateX(15em);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.about-text a {
    margin-top: 1em;
    text-align: center;
    text-indent: 0;
    text-decoration: none;
    color: white;
    transition: all .5s;
    align-self: center;
}

.about-text a:hover {
    text-transform: uppercase;
    font-size: 1.6em;
    color: white;
    background-color: rgb(5, 170, 170);
    padding: .1em;
    border-radius: 1em;
}

.conhecimentos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 30vh);
    gap: 5em;
    margin-left: 15%;
    margin-right: 15%;
}

.card {
    background-color: rgba(0, 0, 0, .6);
    overflow: hidden;
    border-radius: 16px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
}

.card#first:hover {
    background-image: linear-gradient(#f1eef4, #a5a5a5);
}

.card#second:hover {
    background-image: linear-gradient(rgb(255, 254, 203), rgb(255, 235, 53));
}

.card#third:hover {
    color: white;
    background-image: linear-gradient(rgb(53, 124, 255), #264de4);
}

.card#fourth:hover {
    color: white;
    background-image: linear-gradient(#8c3dff, #a264ff);
}

.card#fifth:hover {
    color: black;
    background-image: linear-gradient(#e34f26, #e97a5b);
}

.card#sixth:hover {
    background-image: linear-gradient(to top, #78eb52, #4655b4);
    color: black;
}

.card#third .arrow,
.card#fourth .arrow {
    color: white;
}

.img {
    background-position: center bottom;
    background-size: cover;
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .8;
    transition: all .5s;
}

.img#java {
    background-image: url(../images/cards/card-java.jpg);
}

.img#js {
    background-image: url(../images/cards/card-js.jpg);
}

.img#css {
    background-image: url(../images/cards/card-css.jpg);
}

.img#github {
    background-image: url(../images/cards/card-git.jpg);
}

.img#html {
    background-image: url(../images/cards/card-html.jpg);
}

.img#node-js {
    background-image: url(../images/cards/card-node-c.jpg);
}

.card:hover .img {
    opacity: 1;
    width: 110%;
}

.card .content {
    padding: 0 20px;
    overflow: hidden;
    height: 0;
    transition: all .5s;
    transform: translateY(2em);
    opacity: 0;
}

.card:hover .content {
    padding: 15px 20px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: translateY(0);
    opacity: 1;
}

.card .content .title {
    font-size: 2em;
}

.card .content .desc {
    padding-top: 10px;
}

.card .arrow {
    color: white;
    padding: 10px;
    font-size: 1.5em;
    transition: all .5s;
    transform: rotate(-180deg);
}

.card:hover .arrow {
    color: black;
    transform: rotate(0);
}

@media (max-width: 1000px) {
    .conhecimentos {
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, .5fr);
        grid-template-rows: repeat(2, 30vh);
        gap: 3em;
        margin-left: 15%;
        margin-right: 15%;
    }

    .about-text {
        text-align: center;
    }

    .card {
        height: 30vh;
    }
}

@media (max-width: 800px) {
    .conhecimentos {
        display: flex;
        flex-direction: column;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 10%;
    }

    .conhecimentos .card {
        height: 40vh;
    }   

    .about .page-title {
        height: 25vh;
    }
}
