@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    font-family: 'Share Tech Mono', 'Segoe UI';
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-image: url(../images/background/tijolos.jpg);
}

.page-title {
    height: 20vh;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    margin: 5% 10% 5% 10%;
    border-bottom: solid 5px white;
    border-radius: 5px;
    text-shadow: 0.4em 0.4em 1px rgba(0, 0, 0, .8);
}

.page-title h1 {
    font-size: clamp(1.75em, 4em + 3vw, 7em);
    text-align: center;
    color: white;
    text-transform: uppercase;
}

::-webkit-scrollbar {
    background-color: #1d1d1d;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
    border-radius: 5px;
}